.header{
  display: flex;
  gap: 20px;
  align-items: center;

}

nav ul{
  display: flex;
  gap: 10px;

}

nav ul li{
  list-style: none;
}

.App{
  position:relative;
  height: 100dv;

}

footer{
  position: absolute;
  bottom: 0;
}
.head{
  display: flex;
  gap:20px;
}
.card{
  width: 20%;
  display: flex;
  flex-direction: column;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
  box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.1);
  padding: 20px;
  margin: 10px;
  text-align: center;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: 20px;
  }
  .card .card-title{
  font-family: Arial, sans-serif;
  margin: 0;
  color: hsl(0, 0%, 20%);
  }
  .card .card-text{
  font-family: Arial, sans-serif;
  color: hsl(0, 0%, 30%);
  }
  .wrapper{
  display: flex;
  }

  .grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }